easybuy-adminapi/designs/server/services/adminLogin/adminLogin_service.json
[
    {
        "id": "SSD_SERVICE_ID_sd_JqXhLhjkY7BLUwS2",
        "type": "tab",
        "createdDate": "2023-05-23T06:28:22.881Z",
        "label": "adminLogin_service",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "adminLogin_service",
        "relativeParentPath": "adminLogin"
    },
    {
        "id": "sd_YP4xZa1cnxwUYb4H",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_JqXhLhjkY7BLUwS2",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "adminLoginStart",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "accept_bh": true,
        "functionName": "adminLoginStart",
        "category": "General",
        "x": 125,
        "y": 200,
        "wires": [
            [
                "sd_KEmmLeERvdSbOeRu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "adminLogin_service"
    },
    {
        "id": "sd_KEmmLeERvdSbOeRu",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_JqXhLhjkY7BLUwS2",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// bh.input.body={\n//     email:\"admin@gmail.com\",\n//     password:\"admin\"\n// }\n\nbh.local.isAdminLogin=false\n\nif(!bh.input.body?.email || !bh.input.body?.password){\n   bh.local.isAdminLogin=''\n\n}else{\n    if(bh.input.body.email===process.env.ADMIN_EMAIL &&  bh.input.body.password===process.env.ADMIN_PASSWORD ){\n        bh.local.isAdminLogin=true\n\n    }\n}\n",
        "functionName": "sd_KEmmLeERvdSbOeRu",
        "category": "Function",
        "x": 285,
        "y": 200,
        "wires": [
            [
                "sd_oatxQAQLy0qunTQM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "adminLogin_service",
        "generated": true
    },
    {
        "id": "sd_oatxQAQLy0qunTQM",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_JqXhLhjkY7BLUwS2",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isAdminLogin",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.isAdminLogin",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "functionName": "sd_oatxQAQLy0qunTQM",
        "category": "Function",
        "x": 405,
        "y": 200,
        "wires": [
            [
                "sd_ItRvBklzzdUwGeHk"
            ],
            [
                "sd_oVpx0h12WLtu3Ohn"
            ],
            [
                "sd_IJ83glSahAXFJ07t"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "adminLogin_service",
        "generated": true
    },
    {
        "id": "sd_ItRvBklzzdUwGeHk",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_JqXhLhjkY7BLUwS2",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.admin={\n    ...bh.input.body,\n    isAdmin:true\n}\n",
        "functionName": "sd_ItRvBklzzdUwGeHk",
        "category": "Function",
        "x": 485,
        "y": 300,
        "wires": [
            [
                "sd_VqUauuuSlhuYLNQb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "adminLogin_service",
        "generated": true
    },
    {
        "id": "sd_oVpx0h12WLtu3Ohn",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_JqXhLhjkY7BLUwS2",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.response={\n    statusCode:401,\n    message:'EMAIL_OR_PASSWORD_INCOREECT_OR_BOTH'\n}\n",
        "functionName": "sd_oVpx0h12WLtu3Ohn",
        "category": "Function",
        "x": 545,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "adminLogin_service",
        "generated": true
    },
    {
        "id": "sd_IJ83glSahAXFJ07t",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_JqXhLhjkY7BLUwS2",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.response={\n    statusCode:400,\n    message:'EMAIL_AND_PASSWORD_REQUIRED'\n}",
        "functionName": "sd_IJ83glSahAXFJ07t",
        "category": "Function",
        "x": 485,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "adminLogin_service",
        "generated": true
    },
    {
        "id": "sd_VqUauuuSlhuYLNQb",
        "type": "Session",
        "z": "SSD_SERVICE_ID_sd_JqXhLhjkY7BLUwS2",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh",
        "dataMapping": "bh.local.admin",
        "functionName": "sd_VqUauuuSlhuYLNQb",
        "category": "HTTP",
        "x": 640,
        "y": 300,
        "wires": [
            [
                "sd_n9ngO4K49pHHqdG5"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "admin",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "adminLogin_service",
        "generated": true
    },
    {
        "id": "sd_n9ngO4K49pHHqdG5",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_JqXhLhjkY7BLUwS2",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.response={\n    statusCode:200,\n    message:'ADMIN_LOG_IN'\n}",
        "functionName": "sd_n9ngO4K49pHHqdG5",
        "category": "Function",
        "x": 780,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "adminLogin_service",
        "generated": true
    }
]
