easybuy-adminapi/designs/server/services/addCoupon/service.json
[
    {
        "id": "SSD_SERVICE_ID_sd_cUEheVlMRjOpDQvy",
        "type": "tab",
        "createdDate": "2023-05-23T03:49:51.252Z",
        "label": "service",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "service",
        "relativeParentPath": "addCoupon"
    },
    {
        "id": "sd_2D0J4EoULYFyPGm5",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_cUEheVlMRjOpDQvy",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "addCouponService",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "accept_bh": true,
        "functionName": "addCouponService",
        "category": "General",
        "x": 125,
        "y": 120,
        "wires": [
            [
                "sd_XwC8glk5Q9zXXsLE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "service"
    },
    {
        "id": "sd_XwC8glk5Q9zXXsLE",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_cUEheVlMRjOpDQvy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.collection = 'coupon'\nbh.local.findCoupon = { couponcode: bh.input.body.couponcode }\n",
        "functionName": "sd_XwC8glk5Q9zXXsLE",
        "category": "Function",
        "x": 245,
        "y": 120,
        "wires": [
            [
                "sd_82bS2oh3Lmcytfgw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "service",
        "generated": true
    },
    {
        "id": "sd_82bS2oh3Lmcytfgw",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_cUEheVlMRjOpDQvy",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_lWTIBAUI8umrFcfl",
        "collection": "bh.local.collection",
        "options": "",
        "resultMapping": "bh.local.coupons",
        "operation": "find",
        "argumentArray": [
            "query"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.local.findCoupon",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_82bS2oh3Lmcytfgw",
        "category": "Storage",
        "x": 385,
        "y": 120,
        "wires": [
            [
                "sd_YU32BtvXZ2qkXQCS"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh.local",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "coupons",
                "constant": false
            },
            "query": {
                "type": "bh.local",
                "value": "findCoupon",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "service",
        "generated": true
    },
    {
        "id": "sd_YU32BtvXZ2qkXQCS",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_cUEheVlMRjOpDQvy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(bh.local.coupons.length === 0) {\n    bh.local.isCoupon = false;\n    bh.local.isCouponCode = 200;\n    bh.local.isCouponMsg = 'coupon added successfully'\n} else {\n    bh.local.isCoupon = true;\n    bh.local.isCouponCode = 404;\n    bh.local.isCouponMsg = 'coupon already added';\n}",
        "functionName": "sd_YU32BtvXZ2qkXQCS",
        "category": "Function",
        "x": 525,
        "y": 120,
        "wires": [
            [
                "sd_nNcNx1IxH2Rbr9k2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "service",
        "generated": true
    },
    {
        "id": "sd_nNcNx1IxH2Rbr9k2",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_cUEheVlMRjOpDQvy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isCoupon",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.isCoupon",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_nNcNx1IxH2Rbr9k2",
        "category": "Function",
        "x": 660,
        "y": 120,
        "wires": [
            [],
            [
                "sd_UEUAPsvpuZnqv4Rb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "service",
        "generated": true
    },
    {
        "id": "sd_UEUAPsvpuZnqv4Rb",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_cUEheVlMRjOpDQvy",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_lWTIBAUI8umrFcfl",
        "collection": "bh.local.collection",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "insertOne",
        "argumentArray": [
            "document"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_UEUAPsvpuZnqv4Rb",
        "category": "Storage",
        "x": 785,
        "y": 125,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh.local",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "service",
        "generated": true
    },
    {
        "id": "sd_ONBF29y0ZyACeqSQ",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_cUEheVlMRjOpDQvy",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "getCouponService",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "accept_bh": true,
        "functionName": "getCouponService",
        "category": "General",
        "x": 125,
        "y": 280,
        "wires": [
            [
                "sd_oBKGYzfYnVbjcJfU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "service"
    },
    {
        "id": "sd_oBKGYzfYnVbjcJfU",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_cUEheVlMRjOpDQvy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.input.body)\nbh.local.collection = \"coupon\"\nbh.local.query = {couponcode: bh.input.params.couponcode};",
        "functionName": "sd_oBKGYzfYnVbjcJfU",
        "category": "Function",
        "x": 280,
        "y": 280,
        "wires": [
            [
                "sd_8TLnPc02SQYSf7tR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "service",
        "generated": true
    },
    {
        "id": "sd_8TLnPc02SQYSf7tR",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_cUEheVlMRjOpDQvy",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_5DxcwTS42BtTpoen",
        "collection": "bh.local.collection",
        "options": "",
        "resultMapping": "bh.local.couponData",
        "operation": "find",
        "argumentArray": [
            "query"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.local.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_8TLnPc02SQYSf7tR",
        "category": "Storage",
        "x": 425,
        "y": 280,
        "wires": [
            [
                "sd_FKVYuY7tQxh7B7uA"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh.local",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "couponData",
                "constant": false
            },
            "query": {
                "type": "bh.local",
                "value": "query",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "service",
        "generated": true
    },
    {
        "id": "sd_FKVYuY7tQxh7B7uA",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_cUEheVlMRjOpDQvy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(bh.local.couponData.length === 0) {\n    bh.local.noCoupon = true\n} else {\n    bh.local.noCoupon = false\n}",
        "functionName": "sd_FKVYuY7tQxh7B7uA",
        "category": "Function",
        "x": 545,
        "y": 280,
        "wires": [
            [
                "sd_07mst6wWjxvgMjR8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "service",
        "generated": true
    },
    {
        "id": "sd_07mst6wWjxvgMjR8",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_cUEheVlMRjOpDQvy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "noCoupon",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.noCoupon",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_07mst6wWjxvgMjR8",
        "category": "Function",
        "x": 665,
        "y": 280,
        "wires": [
            [
                "sd_mHbI4pU2Vp07IbYH"
            ],
            [
                "sd_lloyDllOmDUmU6Qx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "service",
        "generated": true
    },
    {
        "id": "sd_mHbI4pU2Vp07IbYH",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_cUEheVlMRjOpDQvy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.response = {\n    response: \"sorry! no coupon found\",\n    statusCode: 404\n}",
        "functionName": "sd_mHbI4pU2Vp07IbYH",
        "category": "Function",
        "x": 785,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "service",
        "generated": true
    },
    {
        "id": "sd_lloyDllOmDUmU6Qx",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_cUEheVlMRjOpDQvy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.response = {\n    response: bh.local.couponData[0],\n    statusCode: 200\n}",
        "functionName": "sd_lloyDllOmDUmU6Qx",
        "category": "Function",
        "x": 785,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "service",
        "generated": true
    }
]
