easybuy-apigateway/designs/server/services/middlewares/pre_middlewares.json
[
    {
        "id": "SSD_SERVICE_ID_sd_oRvQXaA1cV6Qs9NA",
        "type": "tab",
        "createdDate": "2023-05-23T07:25:27.644Z",
        "label": "pre_middlewares",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "pre_middlewares",
        "relativeParentPath": "middlewares"
    },
    {
        "id": "sd_PEFvjynSc1DbtTIz",
        "type": "ServerHttpRequest",
        "z": "SSD_SERVICE_ID_sd_oRvQXaA1cV6Qs9NA",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.local.request.URL",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "request.URL"
        },
        "ret": "json",
        "retMappingObj": {},
        "reqBody": "bh.input.body",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.local.response",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "response"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "useAuthTypeMappingObj": {},
        "useAuthUsername": "",
        "useAuthUsernameMappingObj": "",
        "useAuthPassword": "",
        "useAuthPasswordMappingObj": "",
        "useAuthToken": "",
        "useAuthTokenMappingObj": "",
        "useQueryString": false,
        "tls": "",
        "followRedirect": true,
        "paytoqs": false,
        "useAuthentication": false,
        "rejectUnauthorized": false,
        "proxy": "",
        "useProxy": false,
        "usetls": false,
        "cookiesMapObj": {},
        "cookiesList": {},
        "switchStates": {
            "cookies": "Map"
        },
        "editableListData": {},
        "timeout": {
            "type": "num",
            "value": ""
        },
        "functionName": "sd_PEFvjynSc1DbtTIz",
        "category": "HTTP",
        "x": 445,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pre_middlewares",
        "generated": true
    },
    {
        "id": "sd_ssMY2VoOAJfypBH0",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_oRvQXaA1cV6Qs9NA",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "Api_Request_start",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "accept_bh": true,
        "functionName": "api_Request_start",
        "category": "General",
        "x": 125,
        "y": 80,
        "wires": [
            [
                "sd_MCGyoDgnWxM0Ej5F"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "pre_middlewares"
    },
    {
        "id": "sd_9I38adVDSGlacXfF",
        "type": "ServerHttpRequest",
        "z": "SSD_SERVICE_ID_sd_oRvQXaA1cV6Qs9NA",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.local.request.URL",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "request.URL"
        },
        "ret": "json",
        "retMappingObj": {},
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "bh.local.response",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "response"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "useAuthTypeMappingObj": {},
        "useAuthUsername": "",
        "useAuthUsernameMappingObj": "",
        "useAuthPassword": "",
        "useAuthPasswordMappingObj": "",
        "useAuthToken": "",
        "useAuthTokenMappingObj": "",
        "useQueryString": false,
        "tls": "",
        "followRedirect": true,
        "paytoqs": false,
        "useAuthentication": false,
        "rejectUnauthorized": false,
        "proxy": "",
        "useProxy": false,
        "usetls": false,
        "cookiesMapObj": {},
        "cookiesList": {},
        "switchStates": {
            "cookies": "Map"
        },
        "editableListData": {},
        "timeout": {
            "type": "num",
            "value": ""
        },
        "functionName": "sd_9I38adVDSGlacXfF",
        "category": "HTTP",
        "x": 445,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pre_middlewares",
        "generated": true
    },
    {
        "id": "sd_MCGyoDgnWxM0Ej5F",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_oRvQXaA1cV6Qs9NA",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "request.method",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.request.method",
        "rules": [
            {
                "t": "se",
                "v": "get",
                "vt": "str",
                "gv": "\"get\""
            },
            {
                "t": "se",
                "v": "post",
                "vt": "str",
                "gv": "\"post\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_MCGyoDgnWxM0Ej5F",
        "category": "Function",
        "x": 285,
        "y": 80,
        "wires": [
            [
                "sd_9I38adVDSGlacXfF"
            ],
            [
                "sd_PEFvjynSc1DbtTIz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pre_middlewares",
        "generated": true
    },
    {
        "id": "sd_INVWagMMfQa5bJf2",
        "type": "Catch",
        "z": "SSD_SERVICE_ID_sd_oRvQXaA1cV6Qs9NA",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_PEFvjynSc1DbtTIz",
            "sd_9I38adVDSGlacXfF"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_INVWagMMfQa5bJf2",
        "category": "General",
        "x": 445,
        "y": 240,
        "wires": [
            [
                "sd_psQH37PLC6keF6Zx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "pre_middlewares"
    },
    {
        "id": "sd_psQH37PLC6keF6Zx",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_oRvQXaA1cV6Qs9NA",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(bh.error.message === \"connect ECONNREFUSED 127.0.0.1:8006\"){\n    bh.error.message = \"Server Down\"\n}\n\nbh.local.response = {\n    statusCode:404,\n    payload:{\n        message:bh.error.message\n    }\n}",
        "functionName": "sd_psQH37PLC6keF6Zx",
        "category": "Function",
        "x": 585,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pre_middlewares",
        "generated": true
    }
]
