easybuy-apigateway/designs/server/services/middlewares/pre_middlewares.json
[
    {
        "id": "SSD_SERVICE_ID_sd_oRvQXaA1cV6Qs9NA",
        "type": "tab",
        "createdDate": "2023-05-23T07:25:27.644Z",
        "label": "pre_middlewares",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "pre_middlewares",
        "relativeParentPath": "middlewares"
    },
    {
        "id": "sd_ssMY2VoOAJfypBH0",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_oRvQXaA1cV6Qs9NA",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "Api_Request_start",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "accept_bh": true,
        "functionName": "api_Request_start",
        "category": "General",
        "x": 125,
        "y": 80,
        "wires": [
            [
                "sd_MCGyoDgnWxM0Ej5F"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "pre_middlewares"
    },
    {
        "id": "sd_MCGyoDgnWxM0Ej5F",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_oRvQXaA1cV6Qs9NA",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "request.method",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.request.method",
        "rules": [
            {
                "t": "se",
                "v": "get",
                "vt": "str",
                "gv": "\"get\""
            },
            {
                "t": "se",
                "v": "post",
                "vt": "str",
                "gv": "\"post\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_MCGyoDgnWxM0Ej5F",
        "category": "Function",
        "x": 285,
        "y": 80,
        "wires": [
            [
                "sd_kfrErzRLXD38OePl"
            ],
            [
                "sd_i9wQZJlltnksyp2V"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pre_middlewares",
        "generated": true
    },
    {
        "id": "sd_i9wQZJlltnksyp2V",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_oRvQXaA1cV6Qs9NA",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const axios = require('axios')\n\n await axios.post(bh.local.request.URL,bh.input.body).then(response => {\n    // Handle successful response\n    bh.local.response = response.data\n  })\n  .catch(error => {\n    // Handle error\n    bh.local.response = error.response.data\n  });\n\n  console.log(bh.local.response)\n  console.log('bh.local.response')",
        "functionName": "sd_i9wQZJlltnksyp2V",
        "category": "Function",
        "x": 445,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pre_middlewares",
        "generated": true
    },
    {
        "id": "sd_kfrErzRLXD38OePl",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_oRvQXaA1cV6Qs9NA",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const axios = require('axios')\n\nawait axios.get(bh.local.request.URL).then(response => {\n    // Handle successful response\n    bh.local.response = response.data\n  })\n  .catch(error => {\n    // Handle error\n    bh.local.response = error.response.data\n  });\n\n  console.log(bh.local.response)",
        "functionName": "sd_kfrErzRLXD38OePl",
        "category": "Function",
        "x": 445,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pre_middlewares",
        "generated": true
    },
    {
        "id": "sd_vjhW5UQypR63O1eL",
        "type": "Catch",
        "z": "SSD_SERVICE_ID_sd_oRvQXaA1cV6Qs9NA",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_i9wQZJlltnksyp2V",
            "sd_kfrErzRLXD38OePl"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_vjhW5UQypR63O1eL",
        "category": "General",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "sd_7uzpl8ES0F5YsOEy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "pre_middlewares"
    },
    {
        "id": "sd_7uzpl8ES0F5YsOEy",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_oRvQXaA1cV6Qs9NA",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.response = {\n    statusCode:503,\n    message:\"server Unavalilable\"\n}",
        "functionName": "sd_7uzpl8ES0F5YsOEy",
        "category": "Function",
        "x": 620,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pre_middlewares",
        "generated": true
    }
]
