easybuy-adminapi/designs/server/services/adminAddProduct/addProduct_service.json
[
    {
        "id": "SSD_SERVICE_ID_sd_ClZkeNwI7NBUxDOH",
        "type": "tab",
        "createdDate": "2023-05-23T05:53:09.380Z",
        "label": "addProduct_service",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "addProduct_service",
        "relativeParentPath": "adminAddProduct"
    },
    {
        "id": "sd_tVrcW0BGgpOr82MF",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_ClZkeNwI7NBUxDOH",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "accept_bh": true,
        "functionName": "sd_tVrcW0BGgpOr82MF",
        "category": "General",
        "x": 45,
        "y": 200,
        "wires": [
            [
                "sd_ITTGLKmLHSiFtGlt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "addProduct_service"
    },
    {
        "id": "sd_ITTGLKmLHSiFtGlt",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_ClZkeNwI7NBUxDOH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.isImage = bh.input.files?.image\nconsole.log(bh.input)",
        "functionName": "sd_ITTGLKmLHSiFtGlt",
        "category": "Function",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "sd_Tfs2fEdJt5noVmcq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addProduct_service",
        "generated": true
    },
    {
        "id": "sd_Tfs2fEdJt5noVmcq",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_ClZkeNwI7NBUxDOH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isImage",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.isImage",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_Tfs2fEdJt5noVmcq",
        "category": "Function",
        "x": 365,
        "y": 200,
        "wires": [
            [
                "sd_dv8sIqOrUEwx88wI"
            ],
            [
                "sd_DY4Q9RUgaxIotExa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addProduct_service",
        "generated": true
    },
    {
        "id": "sd_dv8sIqOrUEwx88wI",
        "type": "validate",
        "z": "SSD_SERVICE_ID_sd_ClZkeNwI7NBUxDOH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "erd": "_DM_dktfa1mfe",
        "entityId": "_EN_r7ftmleuz2",
        "_UI_entityName": "entity_1",
        "dbConfigId": "",
        "validateObject": "bh.input.body",
        "checkboxThrowError": true,
        "resultMapping": "",
        "functionName": "sd_dv8sIqOrUEwx88wI",
        "category": "Data Model",
        "x": 445,
        "y": 300,
        "wires": [
            [
                "sd_fuhyMpezTPnKK64w"
            ]
        ],
        "__ssdTypeInputs__": {
            "validateObject": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {
            "resultMapping": true
        },
        "generateNext": false,
        "serviceName": "addProduct_service",
        "generated": true
    },
    {
        "id": "sd_DY4Q9RUgaxIotExa",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_ClZkeNwI7NBUxDOH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.local.response={\n    statusCode : 400,\n    message : \"must need image\"\n}",
        "functionName": "sd_DY4Q9RUgaxIotExa",
        "category": "Function",
        "x": 445,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addProduct_service",
        "generated": true
    },
    {
        "id": "sd_fuhyMpezTPnKK64w",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_ClZkeNwI7NBUxDOH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.isValid = true\nif(!bh.input.body.name){\n  bh.local.isValid=false\n  bh.local.message=\"empty field name\"\n}else if(!bh.input.body.gram){\n  bh.local.isValid=false\n  bh.local.message=\"empty field price\"\n}else if(!bh.input.body.description){\n  bh.local.isValid=false\n bh.local.message=\"empty field description\"\n}else if(!bh.input.body.category){\n    bh.local.isValid=false\n bh.local.message=\"empty field category\"\n}",
        "functionName": "sd_fuhyMpezTPnKK64w",
        "category": "Function",
        "x": 585,
        "y": 300,
        "wires": [
            [
                "sd_mNNu3mYojUndTkgy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addProduct_service",
        "generated": true
    },
    {
        "id": "sd_mNNu3mYojUndTkgy",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_ClZkeNwI7NBUxDOH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isValid",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.isValid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_mNNu3mYojUndTkgy",
        "category": "Function",
        "x": 705,
        "y": 300,
        "wires": [
            [
                "sd_84MV6CWCmQQkZTMD"
            ],
            [
                "sd_DydvHAMpTWH2EnJ3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addProduct_service",
        "generated": true
    },
    {
        "id": "sd_84MV6CWCmQQkZTMD",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_ClZkeNwI7NBUxDOH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const axios = require('axios');\n\nbh.local.findQuery = {\"name\":bh.input.body.name}\nconst key = bh.input.body.category\nbh.local.collection = \"product\"\nbh.input.body.image = bh.input.files.image\nconst api = \"https://api.exchangerate-api.com/v4/latest/USD\";\nconst metalpriceapi = \"https://api.metals.live/v1/spot\"\n\nlet metalprice = await axios.get(metalpriceapi)\n\n\n\nlet currency = await axios.get(api)\n\n\n \n    const result = metalprice.data.find(obj => obj.hasOwnProperty(key));\n    const price = result[key]\n    let fromRate = currency.data.rates.USD;\n    let toRate = currency.data.rates.INR;\n    let convertedPrice =\n        (((toRate / fromRate) * price).toFixed(2))/31.1035;\n        bh.input.body.price = convertedPrice*bh.input.body.gram\n\n        console.log(bh.input.body)\n\n        bh.input.body._id = Math.floor(100000 + Math.random() * 900000).toString()",
        "functionName": "sd_84MV6CWCmQQkZTMD",
        "category": "Function",
        "x": 805,
        "y": 420,
        "wires": [
            [
                "sd_zBzeKj9dSLf5EpSz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addProduct_service",
        "generated": true
    },
    {
        "id": "sd_DydvHAMpTWH2EnJ3",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_ClZkeNwI7NBUxDOH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.response={\n    statusCode : 400,\n    message : bh.local.message\n}",
        "functionName": "sd_DydvHAMpTWH2EnJ3",
        "category": "Function",
        "x": 805,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addProduct_service",
        "generated": true
    },
    {
        "id": "sd_zBzeKj9dSLf5EpSz",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_ClZkeNwI7NBUxDOH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_Bd4DJQTzXivkt0hw",
        "collection": "bh.local.collection",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "insertOne",
        "argumentArray": [
            "document"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.local.findQuery",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_zBzeKj9dSLf5EpSz",
        "category": "Storage",
        "x": 965,
        "y": 420,
        "wires": [
            [
                "sd_xwz3WsDccT1wCulB"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh.local",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.local",
                "value": "findQuery",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addProduct_service",
        "generated": true
    },
    {
        "id": "sd_xwz3WsDccT1wCulB",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_ClZkeNwI7NBUxDOH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.response={\n    statusCode:200,\n    message:bh.local.result\n  }",
        "functionName": "sd_xwz3WsDccT1wCulB",
        "category": "Function",
        "x": 1125,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addProduct_service",
        "generated": true
    },
    {
        "id": "sd_33dpmMiyg5XuKo47",
        "type": "Catch",
        "z": "SSD_SERVICE_ID_sd_ClZkeNwI7NBUxDOH",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_BsdnO1vdnlj542Mi"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_33dpmMiyg5XuKo47",
        "category": "General",
        "x": 45,
        "y": 80,
        "wires": [
            [
                "sd_8kCcnsiRYhBbcAUK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "addProduct_service"
    },
    {
        "id": "sd_8kCcnsiRYhBbcAUK",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_ClZkeNwI7NBUxDOH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.response={\n    statusCode : 400,\n    message : bh.error.error[0].message\n}",
        "functionName": "sd_8kCcnsiRYhBbcAUK",
        "category": "Function",
        "x": 205,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addProduct_service",
        "generated": true
    }
]
